@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

:root{
    --preto:#00000000;
    

}

.background-preto{
    background-color: rgb(0, 0, 0);
}

.container{
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
}

section, footer{
    padding: 2.7rem 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo{
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.uL{
    display: flex;
    align-items: center;
}

.uL li{
    margin: 0 35px;
    font-size: 20px;
}

.uL li a{
    color: rgb(209, 209, 209);
}

main .container{
    display: flex;

}

.main-text{
    color: rgb(255, 255, 255);
}

.menu-icon{
    display: none;
}

.resultados{
    background-color:darkgray
}

.resultados .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resultados .results-text{
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    width: 50%;
}
.resultados .resultados-numero{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.resultados .resultados-numero p{
    text-align: center;
    margin: 0 30px;
    font-size: 20px;
}
.resultados .resultados-numero p span{
    font-size: 30px;
    font-weight: 600;
}

.resultados .container{
    flex-direction: column;
}

.resultados .results-text,
.resultados .resultados-numero{
    width: 100%;
    text-align: center;
}
.resultados-numero{
    margin-top: 30px;
}

.jogadores-history .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.jogadores-history .jogadores-img{
    width: 50%;
}

.jogadores-history .jogadores-img img{
    width: 100%;
    border-radius: 10px;
}

.jogadores-history .jogadoresh-text{
    width: 50%;
}

.jogadores-history .jogadoresh-text h2{
    font-size: 2.5em;
}

.jogadores .jogadoresh-text p{
    margin: 20px 0;
    color: var(color--p);
}
/* responsividade */
@media (max-width: 960px){
    .menu-icon{
        display: block;
    }
    .uL{
        position: fixed;
        background-color: red;
        top: 0;
        width: 100%;
        height: 100%;
        left: 100%;
        transition: 0.3s;
        flex-direction: column;
        justify-content: center;
    }
    main .container{
        flex-direction: column;
    }
    main .container .main-text{
        width: 100%;
        text-align: center;

    }
    main .container .main-text h1{
        font-size: 4rem;
    }
    main .container .main-text div{
        justify-content: center;
    }
    }